section {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100;
}

h2 {
    position: relative;
    width: auto;
}

section > img {
    position: relative;
    width: 40vh;
    height: 50vh;
    object-fit: cover;
    object-position: 0 0;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 3px 6px 10px rgb(0, 0, 0);
    border-radius: 50%;
}


.sidebyside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-color: rgba(7, 59, 33, 0.6);
  }
  
  .sidebyside ul {
    list-style: square;
    text-align: start;
  }
  
  
  body {
    background-image: linear-gradient(to bottom right,rgb(47, 135, 97), rgb(167, 242, 210));
  }

  .page-list > li {
    display: flex;
  }

  .page-list > li > a {
      color: rgb(0, 0, 0);
      text-decoration: none;
      will-change: transform, color, text-decoration;
      transition: 250ms all ease-out;
      transform-origin: center top;
  }

  .page-list > li > a:hover {
      transform: translateY(8%) rotateX(25deg) scale(1.2);
      perspective: 200px;
      color: white;
      text-decoration: underline white;
  }

  p {
    text-align: center;
    color: black;
  }

  .erfaring {
    background-color: rgba(7, 59, 33, 0.2);
  }

  .utdanning {
      background-color: rgba(7, 59, 33, 0.4);
  }
