header {
  font-size: 1.5em;
}

header > ul {
  text-align: center;
  /* The centering here is wonky, doesn't look centered */
}

header ul>li {
  display: inline-block;
  margin: 0.5em 2.5em;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  color: black;
} 

.card {
  margin: auto;
  border: 100%;
  box-sizing: border-box;
  padding: 10px;
  width: 70%;
  text-align: center;
}


