* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  font-size: 1.5em;
  width: 100%;
  padding: 0;
}

h1 {
  position: relative;
  width: auto;
  text-align: center;
}

.page-list {
  position: relative;
  list-style: none;
  width: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.page-list > li {
  position: relative;
  padding: 0.5em 2.5em;
  list-style: none;
  margin: 0;
  width: auto;
}

p {
  text-align: center;
  color: black;
} 

.card {
  margin: auto;
  border: 100%;
  box-sizing: border-box;
  padding: 10px;
  width: 70%;
  text-align: center;
}

.sidebyside {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sidebyside ul {
  list-style: upper-roman;
  text-align: start;


}


